.lokiGrid .lg-toolbar .btn span.glyphicon + span{
  margin-left: 1rem;
}

.lokiGrid .lg-toolbar{
  margin-bottom: 1rem;
}

.lokiGrid .lg-toolbar a.btn{
  margin-right: 0.5rem;
}

.lokiGrid table {
  margin-bottom: 0;
}

.lokiGrid table tr.lg-selected > td{
  background-color: #d9edf7;
}

.lokiGrid thead .lg-filter{
  float: right;
}

.lokiGrid thead .lg-filter.filtered{
  color: green;
}

.lokiGrid thead th input{
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  font-weight: normal;
  width: 100%;
}


